<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>



    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top p">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ><a class="navbar-brand" href="{% url 'index' %}">BRAND</a></li>
                <li><a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="nav-item nav-link" href="{% url 'basic_app:other' %}">Other</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h1>?</h1>
        <h1>?</h1>
        {%block body_block%}
        <!-- This is where the body of each page will be. Outside of this will be inherited/universal html template!-->
        {%endblock%}
    </div>

</body>
</html>